body {
    font-family: Arial, sans-serif;
}

table {
    max-width: 500px;
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

thead {
    background-color: #e76c6c;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    border-bottom: 2px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td {
    border-bottom: 1px solid #ddd;
}

