@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Dancing+Script:wght@500&family=Playfair+Display&display=swap');


header, h2, footer{
    font-family: "Crimson Text", sans-serif;
    background-color: rgb(39, 30, 71);
    color:azure;
    text-align: center;
}



main{
    display: grid;
}

section{
    border-radius: 5px;
    border: 2px solid black;
    margin: 2rem;
    padding: 10px;
    text-align: center;
}

h3, img{
    width:100%;
}
footer{
    padding: 10px;
}


@media screen and (min-width: 800px){
    main{
        grid-template-columns: 1fr, 1fr;
    }
    #one{
        grid-column: 1/2;
    }
    #two{
        grid-column: 2/3;
    }
    #three{
        grid-column: 1/3;
    }
}

@media screen and (min-width: 1400px){
    main{
        grid-template-columns: 1fr, 1fr, 1fr;
    }
    #one{
        grid-column: 1/2;
    }
    #two{
        grid-column: 2/3;
    }
    #three{
        grid-column: 3/4;
    }
}