@media screen and (min-width: 800px){
    nav li:hover{
        background-color:  #8B1E3F;
    }
    .navigation{
        flex-direction: row;
       justify-content: space-around;
    }
    .navigation li {
        display: block;
    }
    #menu {
        display: none; /* hide hamburger button */
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .carey_pic:hover {
        border-radius:50px 150px 100px;
        opacity: 90%;
    }
}