@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Dancing+Script:wght@500&family=Playfair+Display&display=swap');

h2,h3{
    font-family: "Dancing Script", "cursive", "Georgia";
    text-align: center;
}

.content{
    max-width: 1400px;
    margin: 0 auto;
}

header{
    display: flex;
    background-color: rgb(49, 55, 115);
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 10px;
    font-family: "Crimson Text", sans-serif;
}
img{
    padding-right: 50px;
    width:100px;
}
nav a{
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

nav a:hover{
    background-color:  rgb(49, 55, 115);
}

main{
    display:grid;
    grid-template-columns: 1fr;
    margin: 0, auto;
    text-align: center;
}

.card{
    border: solid black 1px;
    margin: 15px;
    grid-column: 1/2;
}

h3{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  rgb(49, 55, 115);
    color: white;
}

li{
    list-style-type: none;
    font-size: 1.3em;
    text-align: left;
}

footer{
    background-color: rgb(49, 55, 115);
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Crimson Text", sans-serif;
}

@media screen and (min-width: 800px){
    main{

        display:grid;
        grid-template-columns: 2fr, 1fr; 
    }
    h2{
        width:100%;    
    }
    #one{
        grid-column: 1/2;
    }

    
}
